html{
  height: 100%; /*To keep full screen on mobile - TB */
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.root-view{
  height: 100vh !important;
}

.main-view{
  height: 100vh !important;
}

.slajderStyle
{
  background-color: black;
  height: 200px;
  color: #fff;
}

.menu-top
{
  background-color: #202020;
  height: 50px;
  color: #fff;
  list-style-type: none;
  text-align: center;
  /*HW poprawić, żeby to bylo scentrowane*/
}
.menu-top a
{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.menu-top:hover
{
  cursor: pointer;
}

.topbar
{
  background-color: #202020;
  height: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.length
{
  height: 50%;
  width: 100%;
}

.margines
{
  padding-left: 0px;
  padding-right: 0px;
}

.test-class{
  height: 43.5vh !important;
}

#root
{
  padding: 0;
}

#main-view
{
  height: 100%;
}

.newsclass
{
  text-align: center;
  
}

/* @media only screen and (max-width: 900px) {
  body {
    background-color: black;
  }
  .slajderstyle
  {
  background-color: yellow !important;
  }
} */
